<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="homestyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="registerapp.js"></script>
</head>

<center>
<body>
	<table>
		<tr>
			<div class="banner">
				<div class="navigation_links">
					<a class="navireg" href="/register">Register</a>
					<a class="navireg" href="/login">Login</a>
				</div>
			</div>
		</tr>
		<tr>
			<div class="picture">
			</div>
		</tr>
		<tr>
			<div class="contentcontainer">
			<div class="form-style" ng-app="" ng-controller="registerctrl">
				<p class="register">Create an Account!</p>
				<form action="" method="post">
					<input type="hidden" name="_csrf" value= "csrfToken" />

					<label for="field1">
					<b class="register">First Name:</b>
					<input class="regfirst" type="text" name="firstName" required="true" placeholder="First Name" ng-model="firstName" required="true" />
					</label>
					<br>

					<label for="field2">
					<b class="register">Last Name:</b>
					<input type="text" name="lastName" required="true" placeholder="Last Name" ng-model="lastName" required="true" />
					</label>
					<br>

					<label for="field3">
					<b class="register">E-mail:</b>
					<input type="email" name="email" required="true" placeholder="E-mail" ng-model="email" required="true" />
					</label>
					<br>

					<label for="field4">
					<b class="register">Password:</b>
					<input type="password" name="password" required="true" placeholder="Password" ng-model="password" required="true" />
					</label>
					<br><br>

					<label>
					<button type="submit">Submit</button>
					</label>
				</form>
			</div>
			</div>
		</tr>
	</table>


</body>
</center>

</html>